src/main/resources/org/test/jaxws/demo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://test.org/entities/Demo" xmlns:tns="http://test.org/entities/Demo"
	elementFormDefault="qualified">

	<xsd:element name="EchoRequestType">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="in" type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EchoResponseType">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="out" type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>